body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #000000, #002e6d, #004080, #000000);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: yellow;
    font-family: 'Orbitron', sans-serif;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

input {
    width: calc(80% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px yellow;
    border-radius: 5px ;
    font-size: 1em;
    text-align: center;
    background: #333;
    color: yellow;
}

button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #004080;
    color: yellow;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
}

#cardInfo {
    margin-top: 20px;
}

#cardInfo img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid yellow;
}

footer p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1em;
}

li img {
    max-width: 60px;
    margin-right: 10px;
}

.footer-text {
    font-size: 1em;
    color: grey;
    font-family: 'Orbitron', sans-serif;
}
